### Examples
## ignore all .a files
#*.a

## but do track lib.a, even though you're ignoring .a files above
#!lib.a

## only ignore the TODO file in the current directory, not subdir/TODO
#/TODO

## ignore all files in any directory named build
#build/

## ignore doc/notes.txt, but not doc/server/arch.txt
#doc/*.txt

## ignore all .pdf files in the doc/ directory and any of its subdirectories
#doc/**/*.pdf

# ignore the local test script
test.py
# ignore outputs directory
Results/
#ignore the PDF
LPP1D_dl_20240328.pdf
# ignore the __pycache__ directory
__pycache__

configuration_local.ini
configuration_local_mazallon_PPS1350.ini
configuration_local_mazallon.ini
configuration_Charoy.ini

Inputs

.vscode

auto_copy_script.py

HET_env_exportation.yml
